  :root {
    --grid-cols: 1;
    --grid-rows: 1;
  }

  body {
    display: flex;
    /* flex-direction: column; */
    font-family: Roboto, sans-serif;
    justify-content: center;
    align-items: center;
  }

  #container {
    display: grid;
    grid-gap: 0.25em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 75%;
    height: 75%;
  }

  .grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
    /* font-size: 0; */
  }

  /* Old CSS */

  /* body {
    margin: 0;
    min-height: 100vh;
  }
  
   #container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 75%;
  } */